#content {
        max-width: 1600px;
    margin: 0 auto;
}

nav a,
.home-title,
h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #EC7505; 
}

body {
    background-color: #e6af2e;
}

header {
    background-color: #3D348B;
}

nav a:hover {
    background-color: #000; 
}

.book,
.join {
    background-color: #EC7505; 
}

.book:hover,
.join:hover {
    background-color: #e74c3c; 
}

.msg {
   background-color: #D58936; 
}

nav a,
nav a:hover,
.home-title,
h4,
.book,
.join,
.book:hover,
.join:hover,
.msg h2,
.msg p,
footer,
footer a,
footer a:hover {
    color: #ffffff; 
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}